<h1>Pacientes: Clínico</h1>
<hr>
<mat-accordion multi>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				<span class="material-icons">
					person_add
				</span>
				Adicionar Paciente
			</mat-panel-title>
		</mat-expansion-panel-header>
		<app-new-patient></app-new-patient>
	</mat-expansion-panel>
	<mat-expansion-panel expanded="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<span class="material-icons">
					person_search
				</span>
				Procurar Pacientes
			</mat-panel-title>
		</mat-expansion-panel-header>
		<app-find-patient></app-find-patient>
	</mat-expansion-panel>
</mat-accordion>
