input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
	border-color: red;
}

form:not(.no-validate) input.ng-touched.ng-valid, form:not(.no-validate) textarea.ng-touched.ng-valid {
	border-color: green;
}

.invalid-feedback {
	display: inline;
	color: red;
}

.menu-item {
	text-align: center;
	font-size: 1.5em;
	padding-top: 16px;
}

.menu-item i {
	font-size: 2em;
}

.side-spinner {
	width: 36px;
	height: 36px;
	margin: 0px 10px;
}

/* Heigth 100 */

html, body {
	min-height: 100vh;
	height: auto;
	margin: 0;
}

.container-fluid {
	height: 100vh;
}