$padding-left: 20px;

::ng-deep table {
	width: 100%;
	background-color: whitesmoke;
	color: #000;
	border-collapse: collapse;
	margin: 2rem 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

	thead {
		background-color: crimson;
	}

	th {
		text-align: start;
	}

	th,
	td {
		padding: 10px 0 10px 20px;
	}

	tbody tr:hover {
		background-color: gainsboro;
	}
}
