@use "@angular/material" as mat;
@use "@angular/cdk";

@include mat.core();

$app-dark-primary: mat.define-palette(mat.$purple-palette, 500);
$app-dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $app-dark-primary,
			accent: $app-dark-accent,
		),
	)
);

@include mat.all-component-themes($dark-theme);

// Gerado pelo material

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus \/

// Panel comum
div.container {
	padding: 20px;
}

// Table
table {
	width: 100%;
}

.table-container {
	position: relative;
	max-height: 400px;
	overflow: auto;
	margin-top: 15px;
}

tr.detail-row {
	height: 0;
}

tr.element-row:not(.example-expanded-row):hover {
	background: rgb(50, 50, 50);
}

tr.element-row:not(.example-expanded-row):active {
	background: rgb(30, 30, 30);
}

.element-row td {
	border-bottom-width: 0;
}

.table-row-detail {
	overflow: hidden;
	display: flex;
	> div {
		padding: 8px 0px;
	}
}

// Formfields tem largura fixa
mat-form-field {
	width: 100%;
}

// Altura do Mat-select
.mat-form-field-type-mat-select .mat-form-field-flex {
	height: 56px !important;
}

// Icone e texto ajustado no panel
mat-panel-title {
	align-items: center;

	span:first-of-type {
		padding-right: 8px;
	}
}

// Snackbar

.snackbar {
	margin-top: 70px !important;

	&.snackbar-success {
	}

	&.snackbar-error {
	}
}

// Scrollbar

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

// Set custom autofill inputs to have no background
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff !important;
}

// Ícones do google

@font-face {
	font-family: "Material Icons";
	font-weight: 400;
	font-style: normal;
	src: local("Material Icons"), local("MaterialIcons-Regular"),
		url("/assets/fonts/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
