@use "~@angular/material" as mat;
@use "~@angular/cdk";

@include mat.core();

$app-primary: mat.define-palette(mat.$purple-palette, 500);
$app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$app-theme: mat.define-dark-theme(
	(
		color: (
			primary: $app-primary,
			accent: $app-accent,
		),
	)
);

@include mat.all-component-themes($app-theme);

// Gerado pelo material

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus \/

// Panel comum
div.container {
	padding: 20px;
}

// Formfields tem largura fixa
mat-form-field {
	width: 100%;
}

// Icone e texto ajustado no panel
mat-panel-title {
	align-items: center;

	span:first-of-type {
		padding-right: 8px;
	}
}

// Scrollbar

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
	background: #999;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #666;
}

// Set custom autofill inputs to have no background and red text.
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-text-fill-color: #fff !important;
}
