@use "@angular/material" as mat;
@use "@angular/cdk";

@include mat.core();

$app-dark-primary: mat.define-palette(mat.$purple-palette, 500);
$app-dark-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

$dark-theme: mat.define-dark-theme(
	(
		color: (
			primary: $app-dark-primary,
			accent: $app-dark-accent,
		),
	)
);

@include mat.all-component-themes($dark-theme);

// Gerado pelo material

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Meus \/

// Panel comum
div.container {
	padding: 20px;
	border-radius: 4px;
}
